# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  container: 
    image: circleci/node:8.16.0
    name: react-ssr-advanced

## Multi-container support here
services:
  postgres:
    image: circleci/postgres:9.6.13-alpine
    ports:
      - "5432:5432"
    volumes:
    - db-data:/var/lib/postgresql/data
    env:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: password
## End multi-container

steps:
- script: |
    npm install -g codecov
    npm install
    npm test
    npm run build:frontend
    codecov
  displayName: 'npm install and build'
