:global(#materialForm) {
    > div {
        box-shadow: none;
    }
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
        margin-left: -15px;
        > div {
            flex-grow: 1;
            > div {
                margin-top: 0px;
            }
        } 
        + div {
            display: none;
        }
    }
}